SCB_NEXT_LISTEN_PORT=8080
SCB_NEXT_SERVER_NAME=scb-next.example.internal
MFE_BASE_UPSTREAM=mfe-base.internal:8080
SINGLE_UI_BFF_UPSTREAM=single-ui-bff.internal:8088
RATAN_CONTAINER_UPSTREAM=ratan-container.internal:8080
CASHFLOW_BLOTTER_UPSTREAM=cashflow-blotter.internal:8080
RATAN_BFF_UPSTREAM=ratan-bff.internal:8080
RATAN_NOTIFICATION_UPSTREAM=ratan-notification.internal:8080
RATAN_DATA_AMBASSADOR_UPSTREAM=ratan-data-ambassador.internal:8080
RATAN_API_GATEWAY_UPSTREAM=ratan-api-gateway.internal:8080
