.swift-message-dialog {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 5px;
  width: 800px;
  max-height: 500px;
  font-size: 13px;
}
.no-swift-message {
  text-align: center;
  top: 50%;
  line-height: 100px;
  font-size: 13px;
}
