.css-zoxnlp.MicroWebUI_Base_appBar-root {
        width: 100%;
        min-width: 640px;
        user-select: none;
      }

.css-zoxnlp.MicroWebUI_Base_appBar-root * {
        user-select: none;
      }

.css-zoxnlp .MicroWebUI_Base_appBar-toolbar {
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 3rem;
      }

.css-zoxnlp .MicroWebUI_Base_appBar-title {
        font-size: 0.875rem;
        font-weight: 600;
      }

.css-zoxnlp .MicroWebUI_Base_appBar-right {
        min-width: 300px;
        min-height: 46px;
        border-radius: 12px;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        display: flex;
        -webkit-box-pack: end;
        justify-content: end;
        -webkit-box-align: center;
        align-items: center;
      }

.css-65ulnv.MicroWebUI_Base_avatar-root {
        margin-left: 1.5rem;
      }

.css-65ulnv .MicroWebUI_Base_avatar-img {
        box-shadow:
          rgba(45, 137, 137, 0.2) 1px 1px 8px 1px,
          rgba(65, 141, 149, 0.14) 1px 1px 8px 1px,
          rgba(26, 163, 179, 0.12) 1px 1px 8px 1px;
      }

.css-1i8cjr7.MicroWebUI_Base_survey_button-root {
        margin-left: 1.5rem;
      }

.css-1hnd9uk .MicroWebUI_Base_avatar-disable {
        cursor: default;
        background: inherit !important;
      }

.css-11xob63 .MicroWebUI_Base_home-tabs .MicroWebUI_Base_home-firsttab {
        width: 16px;
      }

.css-11xob63 .MicroWebUI_Base_home-tabs .MicroWebUI_Base_home-tab {
        user-select: none;
        width: 176px;
        z-index: 1;
        opacity: 0.6;
      }

.css-11xob63 .MicroWebUI_Base_home-tabs .MicroWebUI_Base_home-tab:hover {
        opacity: 1;
      }

.css-11xob63 .MicroWebUI_Base_home-tabs .MicroWebUI_Base_home-lasttab {
        align-self: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }

.css-11xob63 .MicroWebUI_Base_home-box {
        box-shadow:
          rgba(153, 223, 223, 0.2) 0px 2px 4px -1px,
          rgba(234, 244, 245, 0.14) 0px 4px 5px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      }

.css-11xob63 .MicroWebUI_Base_home-tabpanel {
        height: calc(-114px + 100vh);
        overflow: hidden;
        padding: 0px;
        margin: 0px;
      }

.css-11xob63 .MicroWebUI_Base_home-tabpanel .tabmain {
        height: calc(-114px + 100vh);
        padding: 6px 8px;
        overflow: auto;
        position: relative;
      }

.css-11xob63
        .MicroWebUI_Base_home-tabpanel
        .tabmain
        > section:first-child {
        height: auto !important;
      }

.css-11xob63 .MicroWebUI_Base_home-tabpanel .tabmain > div:first-child {
        height: auto !important;
      }

.css-11xob63 .MicroWebUI_Base_home-addtab {
        background: rgb(198, 200, 203);
        color: rgb(26, 32, 40);
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        padding: 4px;
      }

.css-11xob63 .MicroWebUI_Base_home-addtab svg {
        width: 16px;
        height: 16px;
      }

.css-11xob63 .MicroWebUI_Base_home-addtab:hover {
        background: rgb(198, 200, 203);
        color: rgb(26, 32, 40);
      }

.css-10dfxjz.MicroWebUI_Base_new_tile-root {
        display: flex;
        height: 46px;
        -webkit-box-align: center;
        place-items: center;
        margin-right: 3rem;
        cursor: pointer;
        border: 1px solid transparent;
        background:
          linear-gradient(
              to right,
              rgba(194, 216, 222, 0.5),
              rgba(194, 216, 222, 0.5)
            )
            padding-box padding-box,
          linear-gradient(to right, rgb(216, 226, 241), rgba(139, 156, 180, 0))
            border-box border-box;
        border-radius: 15px;
        padding: 2px 16px 2px 5px;
      }

.css-10dfxjz.MicroWebUI_Base_new_tile-root:hover {
        background:
          linear-gradient(
              to right,
              rgb(216, 226, 241),
              rgba(139, 156, 180, 0.2)
            )
            padding-box padding-box,
          linear-gradient(to right, rgb(216, 226, 241), rgba(139, 156, 180, 0))
            border-box border-box;
      }

.css-10dfxjz .MicroWebUI_Base_new_tile-box {
        background-color: rgb(197, 208, 223);
        box-shadow: rgb(194, 216, 222) 0px 5px 20px;
        border-radius: 10px;
        margin-right: 1rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 0.25rem;
        width: 36px;
        height: 36px;
      }

.css-10dfxjz .MicroWebUI_Base_new_tile-box img {
        width: 18px;
        height: 18px;
      }

.css-10dfxjz .MicroWebUI_Base_new_tile-title {
        font-size: 1rem;
        font-weight: 500;
      }

.css-a3jlb9.MicroWebUI_Base_switch-root {
        display: flex;
        height: 49px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
      }

.css-a3jlb9 .MicroWebUI_Base_switch-icon {
        background-color: rgb(197, 208, 223);
        color: rgb(65, 73, 85);
        border-radius: 50%;
        margin-right: 0.5rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 30px;
        width: 30px;
      }

.css-a3jlb9 .MicroWebUI_Base_switch-switch {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 49px;
      }

.css-a3jlb9 .MicroWebUI_Base_switch-label {
        text-transform: capitalize;
        font-size: 0.625rem;
        margin-bottom: 0.25rem;
        font-weight: 500;
        height: 15px;
      }

.css-1sgprok .MicroWebUI_Base_switchTime-form {
        margin-bottom: 0px;
        -webkit-box-align: center;
        align-items: center;
        width: 60px;
        white-space: nowrap;
      }

.css-1sgprok .MicroWebUI_Base_switchTime-label {
        font-size: 0.625rem;
        font-weight: 500;
        height: 13px;
        color: rgb(65, 73, 85) !important;
      }

.css-1o2winn .MicroWebUI_Base_tab-textBoxOutter {
        flex: 1 1 0%;
      }

.css-1o2winn .MicroWebUI_Base_tab-textBox {
        margin: 0px;
        vertical-align: middle;
      }

.css-1o2winn .MicroWebUI_Base_tab-textBox input {
        text-overflow: ellipsis;
        color: rgb(97, 102, 112);
      }

.css-a9bqg1 .MicroWebUI_ratan_container_page_container_header {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
      }

.css-a9bqg1 .MicroWebUI_ratan_container_page_container_header_item {
        display: flex;
        padding-right: 10px;
      }

.css-a9bqg1 .MicroWebUI_ratan_container_page_container_page {
        height: calc(100% - 30px);
        overflow: auto;
      }

.css-147oyr4.MicroWebUI_ratan_container_api_status-root {
        margin-right: 10px;
      }

.css-147oyr4.MicroWebUI_ratan_container_api_status-root
        svg.not_available {
        color: rgb(199, 33, 33);
      }

.css-147oyr4.MicroWebUI_ratan_container_api_status-root svg.available {
        color: green;
      }

.css-1r2dtcz .MicroWebUI_ratan_container_api_status-menuItem {
        cursor: default;
        font-size: 12px;
        margin-bottom: 8px;
        padding: 4px 6px;
      }

.css-1r2dtcz .MicroWebUI_ratan_container_api_status-menuItem section {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
      }

.css-1r2dtcz .MicroWebUI_ratan_container_api_status-menuItem div {
        display: flex;
        -webkit-box-pack: start;
        justify-content: start;
        -webkit-box-align: baseline;
        align-items: baseline;
      }

.css-1r2dtcz .MicroWebUI_ratan_container_api_status-menuItem div svg {
        margin-right: 8px;
      }

.css-1r2dtcz
        .MicroWebUI_ratan_container_api_status-menuItem
        .available
        svg {
        color: green;
      }

.css-1r2dtcz
        .MicroWebUI_ratan_container_api_status-menuItem
        .not_available
        svg {
        color: rgb(199, 33, 33);
      }

.css-x92jjv
        .MicroWebUI_ratan_container_advanced_search_entry_selector-label {
        display: flex;
        align-self: center;
        color: var(--theme-color-modal-label);
      }

.css-x92jjv
        .MicroWebUI_ratan_container_advanced_search_entry_selector-selector {
        flex: 1 1 0%;
        height: 100%;
      }

.css-x92jjv
        .MicroWebUI_ratan_container_advanced_search_entry_selector-clear-btn {
        min-width: 64px;
      }

.css-x92jjv
        .MicroWebUI_ratan_container_advanced_search_entry_selector-view-btn {
        min-width: 64px;
        white-space: nowrap;
        overflow: hidden;
      }

.css-s1jwvq .MicroWebUI_ratan_container_filter-tags-filter-tags {
        margin-left: 20px;
      }

.css-1gj8nt5 .MicroWebUI_ratan_container_view_selector-view-selector {
        width: 100%;
      }

.css-1gj8nt5
        .MicroWebUI_ratan_container_view_selector-view-selector
        .field-label {
        flex: 1 1 0%;
      }

.css-1gj8nt5
        .MicroWebUI_ratan_container_view_selector-view-selector
        .MicroWebUI_ratan_container_view_selector-selector {
        flex: 1 1 0%;
        width: 160px;
        color: rgb(114, 243, 131);
      }

.css-1gj8nt5
        .MicroWebUI_ratan_container_view_selector-view-selector
        .MicroWebUI_ratan_container_view_selector-view-btn {
        margin-left: 10px;
      }

.css-1gj8nt5
        .MicroWebUI_ratan_container_view_selector-view-selector
        .MicroWebUI_ratan_container_view_selector-view-btn
        span {
        width: 5px !important;
      }

.css-1bp5gbf .MicroWebUI_ratan_container_handleholiday-root {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: var(--theme-color-dialog-key-data);
      }

.css-1j9m8lh.MicroWebUI_Cashflow-root {
        width: 100%;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root {
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root .item {
        margin-top: 5px;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root .btn-wrap {
        margin-top: 10px;
        width: 100%;
        text-align: center;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root .field-label-label {
        width: 225px !important;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root .field-label-label a {
        color: unset;
      }

.css-1qzw61z .MicroWebUI_quicksearch-root .field-label-children {
        width: 225px !important;
      }

.css-1o8q2r .MicroWebUI_PresetQueryCount-title {
        width: 141px;
        font-weight: 600;
        padding: 5px 10px;
      }

.css-1o8q2r .MicroWebUI_PresetQueryCount-item {
        width: 153px;
        padding: 0px 5px;
      }

.css-1wpbph1 .MicroWebUI_CustomSearchView-selector {
        padding: 10px 25px;
      }

.css-1wpbph1
        .MicroWebUI_CustomSearchView-selector
        .MicroWebUI_ratan_container_advanced_search_entry_selector-selector,
      .css-1wpbph1
        .MicroWebUI_CustomSearchView-selector
        .MicroWebUI_ratan_container_view_selector-selector {
        width: 5rem !important;
      }

.css-1cuobke .MicroWebUI_toggleVisibleDivider-hide-search-bar,
      .css-1cuobke .MicroWebUI_toggleVisibleDivider-show-search-bar {
        cursor: pointer;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
      }

.css-1cuobke .MicroWebUI_toggleVisibleDivider-hide-search-bar .fa,
      .css-1cuobke .MicroWebUI_toggleVisibleDivider-show-search-bar .fa {
        font-size: 12px;
      }

.css-1wm09cn .MicroWebUI_datagrid-root {
        height: 100%;
      }

.css-5ngefl .MicroWebUI_App-search-section {
        display: flex;
        flex-direction: column;
        transition:
          height 225ms cubic-bezier(0.4, 0, 0.2, 1),
          display 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }

.css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body {
        width: 100%;
        flex: 1 1 0%;
      }

.css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body
        .MicroWebUI_App-search-section-body-box {
        padding: 16px 10px 16px 8px;
        margin-top: -16px;
        display: flex;
        flex-direction: column;
      }

.css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body
        .MicroWebUI_App-search-section-body-box
        .MicroWebUI_App-search-section-body-border {
        border: 1px solid var(--theme-color-border-color);
        border-radius: 5px;
        padding-bottom: 8px;
        display: flex;
        -webkit-box-pack: start;
        justify-content: start;
        overflow: hidden;
        flex-direction: column;
        flex: 1 1 0%;
      }

.css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body
        .MicroWebUI_App-search-section-body-box
        .MicroWebUI_App-search-section-body-border
        .MicroWebUI_App-search-section-body-label {
        font-weight: 600;
        margin-bottom: 8px;
        padding: 5px 10px;
        background-color: var(--theme-color-panel-header);
      }

.css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body
        .MicroWebUI_App-search-section-body-box
        .MicroWebUI_App-search-section-body-border
        .MicroWebUI_CustomSearchView-selector
        .MicroWebUI_ratan_container_filter_selector-view-btn,
      .css-5ngefl
        .MicroWebUI_App-search-section
        .MicroWebUI_App-search-section-body
        .MicroWebUI_App-search-section-body-box
        .MicroWebUI_App-search-section-body-border
        .MicroWebUI_CustomSearchView-selector
        .MicroWebUI_ratan_container_view_selector-view-btn {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

.css-qjgfd0 .MicroWebUI_quickfilters-dropdowns {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

.css-xpqll5 .MicroWebUI_gridfooter-results {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
      }

.css-xpqll5 .MicroWebUI_gridfooter-results .MicroWebUI_gridfooter-label {
        margin-right: 5px;
        color: rgb(17, 23, 29);
      }

.css-xpqll5
        .MicroWebUI_gridfooter-results
        .MicroWebUI_gridfooter-total-hits {
        color: rgb(78, 112, 168);
      }