:root,
:host {
  --sc-color-white: #ffffff;
  --sc-color-black: #000000;
  --sc-color-white-rgb: 255, 255, 255;
  --sc-color-black-rgb: 0, 0, 0;

  /* grey start */
  --sc-color-grey-50: #F2F2F2;
  --sc-color-grey-100: #E5E5E5;
  --sc-color-grey-150: #D9D9D9;
  --sc-color-grey-200: #CCCCCC;
  --sc-color-grey-250: #BFBFBF;
  --sc-color-grey-300: #B2B2B2;
  --sc-color-grey-350: #A6A6A6;
  --sc-color-grey-400: #999999;
  --sc-color-grey-450: #8C8C8C;
  --sc-color-grey-500: #808080;
  --sc-color-grey-550: #737373;
  --sc-color-grey-600: #666666;
  --sc-color-grey-650: #595959;
  --sc-color-grey-700: #4D4D4D;
  --sc-color-grey-750: #404040;
  --sc-color-grey-800: #333333;
  --sc-color-grey-850: #262626;
  --sc-color-grey-900: #1A1A1A;
  --sc-color-grey-950: #0D0D0D;
  --sc-color-grey-50-dark: #0D0D0D;
  --sc-color-grey-100-dark: #1A1A1A;
  --sc-color-grey-150-dark: #262626;
  --sc-color-grey-200-dark: #333333;
  --sc-color-grey-250-dark: #404040;
  --sc-color-grey-300-dark: #4D4D4D;
  --sc-color-grey-350-dark: #595959;
  --sc-color-grey-400-dark: #666666;
  --sc-color-grey-450-dark: #737373;
  --sc-color-grey-500-dark: #808080;
  --sc-color-grey-550-dark: #8C8C8C;
  --sc-color-grey-600-dark: #999999;
  --sc-color-grey-650-dark: #A6A6A6;
  --sc-color-grey-700-dark: #B2B2B2;
  --sc-color-grey-750-dark: #BFBFBF;
  --sc-color-grey-800-dark: #CCCCCC;
  --sc-color-grey-850-dark: #D9D9D9;
  --sc-color-grey-900-dark: #E5E5E5;
  --sc-color-grey-950-dark: #F2F2F2;
  /* grey rgb version with same HEX value */
  --sc-color-grey-50-rgb: 242, 242, 242;
  /* grey end */

  /* blue start */
  --sc-color-blue-50: #E5F1FC;
  --sc-color-blue-100: #CCE3FA;
  --sc-color-blue-150: #B3D5F8;
  --sc-color-blue-200: #9AC7F6;
  --sc-color-blue-250: #81B9F4;
  --sc-color-blue-300: #68ABF2;
  --sc-color-blue-350: #4F9DF0;
  --sc-color-blue-400: #368FEE;
  --sc-color-blue-450: #1D81EC;
  --sc-color-blue-460: #007AFF;
  --sc-color-blue-500: #0473EA;
  --sc-color-blue-550: #0367D2;
  --sc-color-blue-600: #035CBB;
  --sc-color-blue-650: #0250A3;
  --sc-color-blue-700: #02458C;
  --sc-color-blue-750: #023975;
  --sc-color-blue-800: #012E5D;
  --sc-color-blue-850: #012246;
  --sc-color-blue-900: #00172E;
  --sc-color-blue-950: #000B17;
  --sc-color-blue-50-dark: #000B17;
  --sc-color-blue-100-dark: #00172E;
  --sc-color-blue-150-dark: #012246;
  --sc-color-blue-200-dark: #012E5D;
  --sc-color-blue-250-dark: #023975;
  --sc-color-blue-300-dark: #02458C;
  --sc-color-blue-350-dark: #0250A3;
  --sc-color-blue-400-dark: #035CBB;
  --sc-color-blue-450-dark: #0367D2;
  --sc-color-blue-500-dark: #0473EA;
  --sc-color-blue-550-dark: #1D81EC;
  --sc-color-blue-600-dark: #368FEE;
  --sc-color-blue-650-dark: #4F9DF0;
  --sc-color-blue-700-dark: #68ABF2;
  --sc-color-blue-750-dark: #81B9F4;
  --sc-color-blue-800-dark: #9AC7F6;
  --sc-color-blue-850-dark: #B3D5F8;
  --sc-color-blue-900-dark: #CCE3FA;
  --sc-color-blue-950-dark: #E5F1FC;
  /* blue rgb version with same HEX value */
  --sc-color-blue-900-rgb: 0, 23, 46;
  /* blue end */

  /* green start */
  --sc-color-green-50: #EBFBE6;
  --sc-color-green-100: #D7F7CD;
  --sc-color-green-150: #C3F3B4;
  --sc-color-green-200: #AFEF9B;
  --sc-color-green-250: #9BEB82;
  --sc-color-green-300: #87E769;
  --sc-color-green-350: #73E350;
  --sc-color-green-400: #5FDF37;
  --sc-color-green-450: #4BDB1E;
  --sc-color-green-500: #38D200;
  --sc-color-green-550: #32BD00;
  --sc-color-green-600: #2CA800;
  --sc-color-green-650: #269300;
  --sc-color-green-700: #207E00;
  --sc-color-green-750: #1A6900;
  --sc-color-green-800: #145400;
  --sc-color-green-850: #0E3F00;
  --sc-color-green-900: #082A00;
  --sc-color-green-950: #021500;
  --sc-color-green-50-dark: #021500;;
  --sc-color-green-100-dark: #082A00;;
  --sc-color-green-150-dark: #0E3F00;;
  --sc-color-green-200-dark: #145400;;
  --sc-color-green-250-dark: #1A6900;;
  --sc-color-green-300-dark: #207E00;;
  --sc-color-green-350-dark: #269300;;
  --sc-color-green-400-dark: #2CA800;;
  --sc-color-green-450-dark: #32BD00;
  --sc-color-green-500-dark: #38D200;;
  --sc-color-green-550-dark: #4BDB1E;;
  --sc-color-green-600-dark: #5FDF37;;
  --sc-color-green-650-dark: #73E350;;
  --sc-color-green-700-dark: #87E769;;
  --sc-color-green-750-dark: #9BEB82;;
  --sc-color-green-800-dark: #AFEF9B;;
  --sc-color-green-850-dark: #C3F3B4;;
  --sc-color-green-900-dark: #D7F7CD;;
  --sc-color-green-950-dark: #EBFBE6;
  /* green end */

  /* amber start */
  --sc-color-amber-50: #FEF6E7;
  --sc-color-amber-100: #FEEFD0;
  --sc-color-amber-150: #FDE6B8;
  --sc-color-amber-200: #FDDEA1;
  --sc-color-amber-250: #FDD689;
  --sc-color-amber-300: #FCCE72;
  --sc-color-amber-350: #FCC65B;
  --sc-color-amber-400: #FBBD43;
  --sc-color-amber-450: #FAB52C;
  --sc-color-amber-500: #FAAD14;
  --sc-color-amber-550: #E19C12;
  --sc-color-amber-600: #C88A10;
  --sc-color-amber-650: #AF790E;
  --sc-color-amber-700: #96680C;
  --sc-color-amber-750: #7D570A;
  --sc-color-amber-800: #644508;
  --sc-color-amber-850: #4B3406;
  --sc-color-amber-900: #322304;
  --sc-color-amber-950: #191102;
  --sc-color-amber-50-dark: #191102;
  --sc-color-amber-100-dark: #322304;
  --sc-color-amber-150-dark: #4B3406;
  --sc-color-amber-200-dark: #644508;
  --sc-color-amber-250-dark: #7D570A;
  --sc-color-amber-300-dark: #96680C;
  --sc-color-amber-350-dark: #AF790E;
  --sc-color-amber-400-dark: #C88A10;
  --sc-color-amber-450-dark: #E19C12;
  --sc-color-amber-500-dark: #FAAD14;
  --sc-color-amber-550-dark: #FAB52C;
  --sc-color-amber-600-dark: #FBBD43;
  --sc-color-amber-650-dark: #FCC65B;
  --sc-color-amber-700-dark: #FCCE72;
  --sc-color-amber-750-dark: #FDD689;
  --sc-color-amber-800-dark: #FDDEA1;
  --sc-color-amber-850-dark: #FDE6B8;
  --sc-color-amber-900-dark: #FEEFD0;
  --sc-color-amber-950-dark: #FEF6E7;
  /* amber end */

  /* red start */
  --sc-color-red-50: #FCE6E7;
  --sc-color-red-100: #F9CED0;
  --sc-color-red-150: #F6B5B8;
  --sc-color-red-200: #F39DA1;
  --sc-color-red-250: #EF848A;
  --sc-color-red-300: #EC6C73;
  --sc-color-red-350: #E9545B;
  --sc-color-red-400: #E63B44;
  --sc-color-red-450: #E3232C;
  --sc-color-red-500: #E00A15;
  --sc-color-red-550: #CA0913;
  --sc-color-red-600: #B30811;
  --sc-color-red-650: #9D070F;
  --sc-color-red-700: #86060D;
  --sc-color-red-750: #70050B;
  --sc-color-red-800: #5A0408;
  --sc-color-red-850: #430306;
  --sc-color-red-900: #2D0204;
  --sc-color-red-950: #160102;
  --sc-color-red-50-dark: #160102;
  --sc-color-red-100-dark: #2D0204;
  --sc-color-red-150-dark: #430306;
  --sc-color-red-200-dark: #5A0408;
  --sc-color-red-250-dark: #70050B;
  --sc-color-red-300-dark: #86060D;
  --sc-color-red-350-dark: #9D070F;
  --sc-color-red-400-dark: #B30811;
  --sc-color-red-450-dark: #CA0913;
  --sc-color-red-500-dark: #E00A15;
  --sc-color-red-550-dark: #E3232C;
  --sc-color-red-600-dark: #E63B44;
  --sc-color-red-650-dark: #E9545B;
  --sc-color-red-700-dark: #EC6C73;
  --sc-color-red-750-dark: #EF848A;
  --sc-color-red-800-dark: #F39DA1;
  --sc-color-red-850-dark: #F6B5B8;
  --sc-color-red-900-dark: #F9CED0;
  --sc-color-red-950-dark: #FCE6E7;
  /* red end */

  /* purple end */
  --sc-color-purple-50: #F2E8FE;
  --sc-color-purple-100: #E5D1FE;
  --sc-color-purple-150: #D8BBFD;
  --sc-color-purple-200: #CBA4FD;
  --sc-color-purple-250: #BE8EFD;
  --sc-color-purple-300: #B177FC;
  --sc-color-purple-350: #A460FC;
  --sc-color-purple-400: #974AFB;
  --sc-color-purple-450: #8A33FB;
  --sc-color-purple-500: #7E1DFB;
  --sc-color-purple-550: #711AE1;
  --sc-color-purple-600: #6417C8;
  --sc-color-purple-650: #5814AF;
  --sc-color-purple-700: #4B1196;
  --sc-color-purple-750: #3F0E7D;
  --sc-color-purple-800: #320B64;
  --sc-color-purple-850: #25084B;
  --sc-color-purple-900: #190532;
  --sc-color-purple-950: #0C0219;
  --sc-color-purple-50-dark: #0C0219;
  --sc-color-purple-100-dark: #190532;
  --sc-color-purple-150-dark: #25084B;
  --sc-color-purple-200-dark: #320B64;
  --sc-color-purple-250-dark: #3F0E7D;
  --sc-color-purple-300-dark: #4B1196;
  --sc-color-purple-350-dark: #5814AF;
  --sc-color-purple-400-dark: #6417C8;
  --sc-color-purple-450-dark: #711AE1;
  --sc-color-purple-550-dark: #8A33FB;
  --sc-color-purple-600-dark: #974AFB;
  --sc-color-purple-650-dark: #A460FC;
  --sc-color-purple-700-dark: #B177FC;
  --sc-color-purple-750-dark: #BE8EFD;
  --sc-color-purple-800-dark: #CBA4FD;
  --sc-color-purple-850-dark: #D8BBFD;
  --sc-color-purple-900-dark: #E5D1FE;
  --sc-color-purple-950-dark: #F2E8FE;
  /* purple end */
  
  
  /* brand colour start */
  --sc-brand-gradient: linear-gradient(90deg, #2C3A88 0%, #0061C8 99.74%);
  --sc-brand-grey: #525355;
  /* brand colour end */
  

  /* system test shades start */
  --sc-shades-orange-500: #EF6923;
  --sc-shades-teal-500: #0F7E89;
  --sc-shades-purple-500: #4848BD;
  /* system test shades end */

  
  /* spacing start */
  --sc-spacing-4: 4px;
  --sc-spacing-8: 8px;
  --sc-spacing-12: 12px;
  --sc-spacing-16: 16px;
  --sc-spacing-20: 20px;
  --sc-spacing-24: 24px;
  --sc-spacing-32: 32px;
  --sc-spacing-40: 40px;
  --sc-spacing-48: 48px;
  --sc-spacing-56: 56px;
  --sc-spacing-64: 64px;
  /* spacing end */

  
  /* border radius start */
  --sc-radius-none: 0;
  --sc-radius-xs: 4px;
  --sc-radius-sm: 6px;
  --sc-radius-md: 12px;
  --sc-radius-lg: 16px;
  /* border radius end */

}
