{
  "extends": [
    "ts-react-important-stuff",
    "plugin:prettier/recommended",
    "plugin:storybook/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "warn", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}