// You should never change those base color !!!
// You can add new one, but never try to change those exsiting.

// You should never use those base color in your UI components or UI page.
// You should use those color only in theme file, dark.less or light.less.

// Black
@base-color-black: #000000;
@base-color-black-opacity-20: rgba(0, 0, 0, 0.2);
@base-color-black-opacity-50: rgba(0, 0, 0, 0.5);
@base-color-black-light: #111111;

// Grey
@base-color-grey: #666666;
@base-color-grey-light: #999999;
@base-color-grey-xlight: #cccccc;
@base-color-grey-dark: #333333;
@base-color-grey-sdark: #424242;
@base-color-grey-xdark: #222222;
@base-color-grey-blue: #36414a;
@base-color-grey-blue-light: rgb(128, 142, 153); /* #808E99 */
@base-color-grey-2: rgb(93, 93, 93); /* #5D5D5D */
@base-color-grey-7: #f2f2f2;

// Blue
@base-color-blue: #39a1cd;
@base-color-blue-grey: #316a83;
@base-color-blue-opacity-20: rgba(57, 161, 205, 0.2);
@base-color-blue-opacity-35: rgba(57, 161, 205, 0.35);
@base-color-blue-opacity-55: rgba(57, 161, 205, 0.55);
@base-color-blue-dark: #005c84;
@base-color-blue-xdark: #013c5c;

// Green
@base-color-green: #99cc00;
@base-color-green-light: #17c017;
@base-color-green-grey: #3f9c35;

// Orange
@base-color-orange: #ff9900;

// Red
@base-color-red: #ff6961;
@base-color-red-dark: #8a2525;

// Yellow
@base-color-yellow: #ffcc00;

// White
@base-color-white: #ffffff;
@base-color-white-gery: #f2f2f2;

// // Black
// @base-color-black: rgb(0, 0, 0);
// @base-color-black-opacity-20: rgba(0, 0, 0, 0.2);
// @base-color-black-opacity-30: rgba(0, 0, 0, 0.3);
// @base-color-black-opacity-40: rgba(0, 0, 0, 0.4);
// @base-color-black-opacity-50: rgba(0, 0, 0, 0.5);
// @base-color-black-opacity-80: rgba(0, 0, 0, 0.8);
// // White
// @base-color-white: rgb(255, 255, 255); /* #FFFFFF */
// @base-color-white-opacity-30: rgba(255, 255, 255, 0.3);
@base-color-white-off: rgb(245, 245, 245); /* #F5F5F5 */
// // Grey
// @base-color-grey-blue-light: rgb(128, 142, 153); /* #808E99 */
// @base-color-grey-light: rgb(153, 153, 153); /* #999999 */
// @base-color-grey: rgb(102, 102, 102); /* #666666 */
// @base-color-grey-dark: rgb(51, 51, 51); /* #333333 */
// @base-color-grey-xdark: rgb(40, 40, 40); /* #282828 */
// @base-color-grey-charcoal: rgb(85, 85, 85); /* #555555 */
// @base-color-grey-xlight: rgb(204, 204, 204); /* #CCCCCC */
// // Blue
// @base-color-blue: rgb(57, 161, 205); /* #39A1CD */
// @base-color-blue-opacity-20: rgba(57, 161, 205, 0.2);
// @base-color-blue-opacity-35: rgba(57, 161, 205, 0.35);
// @base-color-blue-opacity-55: rgba(57, 161, 205, 0.55);
// @base-color-blue-grey: rgb(76, 88, 100); /* #4C5864 */
// @base-color-blue-grey-opacity-50: rgba(76, 88, 100, 0.5);
// @base-color-blue-slate: rgb(54, 65, 74); /* #36414A */
// @base-color-blue-mid: rgb(14, 114, 152); /* #0E7298 */
// @base-color-blue-mid-opacity-10: rgba(14, 114, 152, 0.1); /* #0E7298 */
// @base-color-blue-mid-opacity-20: rgba(14, 114, 152, 0.2); /* #0E7298 */
// @base-color-blue-light: rgb(38, 91, 136); /* #265b88 */
// @base-color-blue-cobalt: rgb(51, 138, 215); /*  #338AD7 */
// @base-color-teal: rgb(0, 204, 204); /* #00cccc */
// @base-color-blue-strong: rgb(0, 24, 204); /* #0018CC */
// // Green
// @base-color-green: rgb(153, 204, 0); /* #99CC00 */
// @base-color-green-opacity-30: rgba(153, 204, 0, 0.3); /* #99CC00 */
// @base-color-green-opacity-50: rgba(153, 204, 0, 0.5); /* #99CC00 */
// @base-color-green-dark: rgb(0, 140, 151); /* #008C97 */
// @base-color-green-black: rgb(25, 47, 49); /* #192f31 */
// @base-color-green-darker: rgb(121, 164, 0);
// @base-color-green-secondary-1: rgb(63, 156, 53);
// @base-color-green-secondary-5: rgba(63, 156, 53, 0.05);
// @base-color-green-secondary-30: rgba(63, 156, 53, 0.3);
// // Orange
// @base-color-orange: rgb(255, 153, 0); /* #FF9900 */
// @base-color-orange-opacity-30: rgba(255, 153, 0, 0.3); /* #FF9900 */
// @base-color-orange-darker: rgb(255, 102, 0);
// // Yellow
// @base-color-yellow: rgb(255, 204, 0); /* #FFCC00 */
// // Red
// @base-color-red: rgb(255, 105, 97); /* #FF6961 */
// @base-color-red-opacity-30: rgba(255, 105, 97, 0.3); /* #FF6961 */
// @base-color-red-light: rgb(227, 122, 117); /* E37A75 */
// // Other
// @base-color-transparent: transparent;
