@import "../../ratantheme/index.less";

.dialog {
  --theme-color-dialog-bg: @base-color-black-opacity-50;
  --theme-color-dialog-border: @base-color-blue;
  --theme-color-dialog-boxshadow: 0 0 5px @base-color-blue;
  --theme-color-dialog-variable-btn: @base-color-blue;
  --theme-color-dialog-name-border: @base-color-grey;
  --theme-color-dialog-key-data: @base-color-blue;
  --theme-color-cashflow-dialog-content: @base-color-white;
  --theme-color-cashflow-cutOff-red: @base-color-red;
  --theme-color-bg: @base-color-grey-dark;
}

.light .dialog {
  --theme-color-dialog-bg: @base-color-black-opacity-20;
  --theme-color-dialog-border: @base-color-blue-dark;
  --theme-color-dialog-boxshadow: 0 0 5px @base-color-blue-dark;
  --theme-color-dialog-variable-btn: @base-color-blue-dark;
  --theme-color-dialog-key-data: @base-color-blue-dark;
  --theme-color-cashflow-dialog-content: @base-color-black;
  --theme-color-bg: @base-color-white;
}
