.ratan-container-quick-search-control-color {
  .ant-input {
    color: inherit !important;
  }
  &.ant-select {
    color: inherit !important;
    .ant-select-selection-item {
      color: inherit !important;
    }
    .ant-tag {
      color: inherit !important;
    }
  }
  .ant-picker-input {
    input {
      color: inherit !important;
    }
  }
  &.in-searching {
    .ant-input {
      color: var(--theme-color-field-label) !important;
    }
    &.ant-select {
      color: var(--theme-color-field-label) !important;
      .ant-select-selection-item {
        color: var(--theme-color-field-label) !important;
      }
      .ant-tag {
        color: ivar(--theme-color-field-label) !important;
      }
    }
    .ant-picker-input {
      input {
        color: var(--theme-color-field-label) !important;
      }
    }
  }
}
